<h1>Edit Event</h1>
<%if @event.user.id == current_user.id%>
  <%=render "form"%>
  <%= form_for @event, method: :delete do |f| %>
    <%= f.submit "Delete Event" %>
  <% end %>
<% else %>
  <p>You don't have the permission to edit this event</p>
  <%# Don't tell me how to live my life. %>
<% end %>
