*{
  box-sizing: border-box;
}
body {
  background-color: #F2E394;
  color: #8C4646;
  padding: 0;
  margin: 0 2px;
}
main{
  padding: 10px 15%;
}
a {
  text-decoration: none;
}
input,label {
  display: block;
}
nav {
  background-color: #588C7E;
  text-align: right;
  padding: 1px;
  border: 2px solid #35544C;
  border-collapse: collapse;
  padding: 0;
}
nav ul{
  padding: 0;
  margin: 0;
}
nav li{
  list-style-type: none;
  display: inline-block;
}
nav li a{
  display:block;
  padding: 7px;
  margin: 0 -3px;
  border: 3px solid #35544C;
  color: white;
}
nav a{
  color: white;
}
nav ul li:hover{
  background-color: #35544C;
}
.event-list{
  text-align: center;
}
section{
  background-color: #F2AE72;
  margin-bottom: 10px;
  padding: 10px 10px;
  position: relative;
}
section a{
  display: block;
  position:absolute;
  width:100%;
  height:100%;
  z-index:100;
  top:0;
  left:0;
}
.see_event section{
  color: #8C4646;
}
.see_event h2{
  margin: 0;
  color: #703838;
}
.user_name{
  float: left;
}
