*{
  box-sizing: border-box;
}
body {
  background-color: #F2E394;
  color: #8C4646;
  padding: 0;
  margin: 0 2px;
}
main{
  padding: 10px 15%;
}
input {
  display: block;
}
nav {
  background-color: #588C7E;
  text-align: right;
  padding: 1px;
}
nav ul{
  padding: 0;
  margin: 0;
}
nav li{
  border: 3px solid #35544C;
  color: white;
  list-style-type: none;
  display: inline-block;
  padding: 7px;
  margin: 0 -3px;
}
li:first-child{
  position: absolute;
  left: 10px;
  border: none;
  margin: auto;
}
nav a{
  color: white;
  text-decoration: none;
}
nav ul li:hover{
  background-color: #35544C;
}
.event-list{
  text-align: center;
}
section{
  background-color: #D96459;
  margin-bottom: 10px;
}
